// background
$bg-light: #ffffff;
$bg-offwhite:#f3f3f3;
$bg-dark: #000000;

//text
$text-light: #ffffff;
$text-dark-grey: #575C5E;
$text-dark: #3C4043;

//border
$border-light: #dee0e2;

//shadow
$shadow-dark:rgb(99, 99, 99);

//icons dark
$icon-light: #ffffff;
$icon-dark: #5F6368;

//accents
$accent-blue: #1967D2;
$accent-green:#0097A7;
$accent-purple: #d7dddb;
$accent-lemongrass:#D2EE9F;
$accent-royal-green:#34A853;

//faints
$faint-blue: #E8F1ED;
$faint-darkblue: #F8F9FA;
$faint-purple:#ebf1ef;
$faint-lemongrass:#EAF5D6;