@import '../../../color.scss';

.inputPanel{
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    input{
        min-width: 85%;
        height: 40px;
        border: none;

        &:focus{
            outline: none;
        }
    }
    button{
        width: fit-content;
        border-radius: 5px;
        padding: 5px 10px;
        background: rgba($accent-blue, 1);
        font-size: 14px;
        font-weight: 600;
        color: $text-light;
        cursor: pointer;
        transition: all .2s ease-in-out;
        border: none;
        &:hover{
            background:rgba($accent-blue, .9);
        }
    }  
}