@import '../../../color.scss';

.inputPanel{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
        width: 80%;
        height: 100%;
        border: none;
        padding: 0 20px;
        border-radius: 20px;
        background: white;

        &:focus{
            outline: none;
        }
    }
    .send{
        border-radius: 50%;
        padding: 14px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        background:#3BA58A;
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:hover{
            background:rgb(187, 222, 251);
        }
    }  
}