@import '../../color.scss';
.bookmarks {
  flex: 5;
  background-color: white;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .topbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bcontainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    .item {
      background: $faint-blue;
      border-radius: 20px;
      padding: 10px;
      width: 45%;
      display: flex;
      justify-content: space-between;
      gap: 20px;
  
      .bleft{
        flex: 1;
        display: flex;
        gap: 20px;
  
        img {
          width: 80px;
          height: 80px;
          object-fit: cover;
          border-radius: 10px;
        }
  
        .details{
          display: flex;
          flex-direction: column;
          gap: 10px;
  
          .price {
            color: #2879fe;
          }
        }
      }
  
      .bright{
        flex: 1;
        display: flex;
  
        p {
          flex: 5;
          font-size: 14px;
        }
  
        .deleteBookmark{
          flex: 1;
          color: #e91426;
          justify-self:center;
          align-self: center;
        }
      }
    }
  }

  .deleteBookmarks{
    color:#e91426;
    font-size: 12px;
    cursor: pointer;
  }
}