@import '../../color.scss';

.sidebar{
    position:sticky;
    top: 64px;
    height: calc(100vh - 110px);

    box-shadow: 0 0 0 1px #cfd9e0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    overflow: hidden;

    .links{
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: relative;

        a{
            padding: 15px;
            border-radius: 10px;

            &:hover{
                background:#E3F2FD;
                color: #1565C0;
            }
            &:focus{
                background:#E3F2FD;
                color: #1565C0;
            }
        }
    }
}

h4{
    font-size: 14px;
    font-weight: normal;
}