@import '../../../color.scss';

.message{
    margin: 10px;
    max-width: 100%;
    font-size: 13px;
    display: flex;
    scroll-margin-bottom:10px;

    .contents{
        max-width: 70%;
        min-width: 25%;
        padding: 10px;
        border-radius: 0 10px 10px 10px;
        background:#F2F5F9;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        span{
            display: block;
            text-align: end;
            font-size: 9px;
        }
    }

    &.owner{
        flex-direction: row-reverse;

        .contents{
            color: rgb(241, 241, 241);
            background:#4E426D;
            border-radius: 10px 0 10px 10px;
        }
    }
}